*.sw[a-p]
*.o
*~
*.prg
*.chr
/obj/nes/*.s
/obj/nes/*.bin
/obj/nes/last-commit
/obj/nes/last-commit-now
/zip.in
*.nes.deb
/map.txt
/nsfmap.txt
/testroms/
!/testroms/
/testroms/*
!/testroms/M0_P32K_C8K_V.nes
!/testroms/M1_P128K_C32K_W8K.nes
!/testroms/M2_P128K_CR8K_V.nes
!/testroms/M3_P32K_C32K_H.nes
!/testroms/M4_P256K_C256K.nes
!/testroms/M7_P128K_CR8K.nes
!/testroms/M34_P128K_CR8K_H.nes
!/testroms/M118_P128K_C64K.nes
!/testroms/M9_P128K_C64K.nes
!/testroms/M10_P128K_C64K_W8K.nes
!/testroms/M11_P64K_CR32K_V.nes
!/testroms/M28_P512K_CR32K.nes
!/testroms/M66_P64K_C16K_V.nes
!/testroms/M69_P128K_C64K_W8K.nes
!/testroms/M78.3_P128K_C64K.nes
!/testroms/M180_P128K_CR8K_H.nes
__pycache__/
*.pyc
/mapperel-primary.nes
/holy-mapperel.nes
/holy-mapperel-*.zip
/holy-mapperel-bin-*.7z


# this is NES homebrew, not DSiWare
*.DS_Store
