---
extends: default
rules:
  line-length:
    max: 5000
  indentation:
    spaces: 2
    indent-sequences: consistent
  document-start:
    present: true
  truthy:
    allowed-values:
    - 'true'
    - 'false'
    - 'yes'
    - 'no'
    - 'on'
    - 'off'
