<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:hasCode="true"
        android:label="Nerust">
        <activity
            android:name="io.github.chalharu.nerust.MainActivity"
            android:configChanges="density|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="main" />
        </activity>
    </application>
</manifest>
